.button{
  padding: 11px 22px 11px 22px;  
  border-radius: var(--border-radius-medium);
  border: none;
  background-color: var(--secondary-text-color);
  font-weight: 600;
  font-family: var(--secondary-font-family);
  font-size: 15px;
  cursor: pointer;
}

.square-button{
    padding: 16px;  
}

.button-secondary{
    background-color: var(--secondary-theme-color);
    color: var(--white-text-color);
    border: 1px solid var(--secondary-theme-color);
}
.button-primary{
    color: var(--primary-text-color);
    background-color: transparent;
    border: 1px solid rgba(145, 158, 171, 0.32); 
}

.button-secondary:hover{
    color: var(--secondary-theme-color);
    background-color: var(--white-text-color);
}
.button-primary:hover{
    color: var(--white-text-color);
    background-color: var(--primary-theme-color);
    border: 1px solid rgba(145, 158, 171, 0.32); 
}