.footer{
    background-color: var(--primary-paper-color);
    padding-top: 80px;
}

.footer__contact-info {
    display: flex;
    gap: 122px ;
    
    padding-bottom: 80px;
}
.footer__logo{
    padding-bottom: 24px;
}
.footer__contact-info {
    display: flex;
}
.footer__contact-left{
    width: 317px;
}
.footer__contact-list{
    padding-left: 0px;
}
.footer__contact-list li{
    display: inline;
    text-decoration: none;
    margin-right: 8px;
}
.footer__contact-addres img{
    margin-right: 8px;
}
.footer__contact-input{
    height: 48px;
}
.footer__contact-links {
    padding-left: 0px;
}
.footer__contact-links li{
    display: inline-block;
    margin-left: 26px ;
    list-style: none;
}
.footer__contact-links li a{
    text-decoration: none;

}
@media (min-width:768px) {
    
    
  }
